
button{
  background-color: w#731702;
  -webkit-text-fill-color: #f2b885;
  -webkit-text-stroke: thin;
  -webkit-text-stroke-color: #f2b885;

}
.btn:hover{
  background-image: linear-gradient(120deg, #f2b885, #731702); 
  border: none;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: thin;
  -webkit-text-stroke-color: white;
}