@charset "utf-8";

*{
	margin: 10;
	padding: 10;
	box-sizing: border-box;
}

h1,h2,h3,h4{
	justify-content: center;
}
body{
	background-image: linear-gradient(120deg, #f2b885, #731702);
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}