@charset "utf-8";

*{
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}

.nav-item{
    justify-content: right;
    position: relative;
}

.form-control{
    justify-content: center;
    position: relative;
}

.navbar{
	background-color: #400601; 
    border: none;
    -webkit-text-fill-color: rgb(255, 255, 255);
}

